---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: true
NamespaceIndentation: None
PackConstructorInitializers: NextLine
PointerAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
SortIncludes: CaseSensitive

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"pvz/'
    Priority: 1
  - Regex: '^"'
    Priority: 2
  - Regex: '^<SFML/'
    Priority: 3
  - Regex: '^<toml'
    Priority: 3
  - Regex: '^<gtest/'
    Priority: 3
  - Regex: '^<'
    Priority: 4
